*{
    box-sizing: border-box;
    
}

body{
    background-color: #b4b1b1;
    font-family: sans-serif;
}

menu{
    display: flex;
    justify-content: right;
    text-align: right;
    align-items: right;
    padding: 10px;
    top: 10PX;
    right: 2%;
    display: block;
}

a{
    text-decoration: none;
}
a li{
    text-transform: capitalize;
    color: rgb(65, 5, 5);
    float: right;
    margin-left: 20px;
 }

 input[type="text"],input[type="number"],input[type="datetime"], select{
    width: 350px;
    height: 50px;
    border: 1.5px rgb(144, 15, 15) solid;
    outline: none;
    border-radius: 50px;
    padding: 10px;
    margin: 2%;
    color:rgb(144, 15, 15);
    font-size: 20px;
    font-weight: 500;
    font-family: fantasy;
    letter-spacing: 10px;
    text-align: center;
 }

 button[type="submit"]{
    border-radius: 50px;
    width: 110px;
    height: 28px;
    margin-top: 20px;
    margin-left: 140px;
 }
 form{
    background-color: antiquewhite;
    width: 500px;
    padding: 2%;
    margin-top: 20px;
    left: 50%;
 }

 .image{
    background-image: url("https://img.freepik.com/free-photo/healthcare-concept-clinic_23-2151117930.jpg?t=st=1719050353~exp=1719053953~hmac=25f3a409ac5da5a77e20207517baf42b42242978f2ad2f7f0eb8b2382b066c89&w=900");
    height: 500px;
    width: 100%;
    padding: 3%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
 }