*{
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(https://img.freepik.com/premium-vector/bloody-grunge-texture-background_867643-11401.jpg?w=900);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

#form{
    box-shadow: 0 0 5px 0;
    background: inherit;
    backdrop-filter: blur(80px);
    width: fit-content;
    height: fit-content;
    padding: 2%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-block;
}

input[type="text"], input[type="email"], input[type="int"], input[type="bigint"],select, textarea, input[type="password"]{
    display: block;
    width: 350px;
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
    background-color: transparent;
    color: white;
    font-weight: 900px
}
select{
    background-color:black ;
    padding: 1%;
}

select option{
    border-bottom:1px solid snow ;
    margin: 3px;
}
marquee{
    color: snow;
    width: 350px;
    word-spacing: 2%;
}
marquee span{
    width: 20px;
}
h4{
    color: rgb(68, 3, 3);
}
button[type="submit"]{
    background-color: rgb(68, 3, 3);
    color: black;
    font-weight: 900;
    margin: 3%;
    font-size: 20px;
    border: none;
    border-radius: 20%;

}